<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dashBoardMapper">
	<!-- 통계자료 호출 -->
	<select id="selectBoardList"  resultType="DashBoardVO">
		<![CDATA[
			SELECT PRODUCT_NUMBER certNo,
                   ITEM_NUMBER itemNo,
                   ITEM_NAME itemName,
                   BRAND_NAME brdName,
                   SEASON_REASON reason,
                   STATUS status
			  FROM AP_STATISTIC
		]]>
	</select>
	
	<!-- 비밀번호 분실 -->
	<select id="getPw" parameterType="DashBoardVO" resultType="String">
		SELECT password
		  FROM AP_USER
		 WHERE id = #{userId}
		  AND email = #{email}
	</select>

	<!-- 스케쥴 목록 호출 -->
	<select id="scheduleList" resultType="map">
		SELECT 
			TITLE,
			CONTENT,
			TO_CHAR(START_DATE, 'YYYY-MM-DD') startDate,
			TO_CHAR(END_DATE, 'YYYY-MM-DD') endDate
			FROM
		AP_SCHEDULE
	</select>
	
	<!-- 스케쥴 등록 -->
	<insert id="scheduleInsert">
		INSERT INTO 
		AP_SCHEDULE(SEQ, 
				TITLE,
				CONTENT,
				INT_DATE,
				INT_NAME, 
				START_DATE, 
				END_DATE) 
		VALUES(AP_SCHEDULE.nextval, 
				#{title},
				#{content},
				sysdate,
				#{intName}, 
				#{startDate}, 
				#{endDate})
	</insert>
	
</mapper>
  